@charset "utf-8";

.w-pagelayer {
}

.w-pagelayer .pagelayer {
	position: fixed;
	_position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
}

.w-pagelayer .pagelayer .lyloading {
	position: absolute;
	left: 48%;
	top: 50%;
	z-index: 5;
	width: 58px;
	height: 10px;
	background: url(http://l.bst.126.net/rsc/img/load.gif) 0 0 no-repeat;
}

.w-pagelayer .pagelayer .lycover {
	visibility: hidden;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	filter: alpha(opacity=50);
	background-color: #000;
}

.w-pagelayer .pagelayer .lycover {
	*position: fixed;
	*left: 0;
	*top: 0;
	*right: 0;
	*bottom: 0;
	*z-index: 3;
}

.w-pagelayer .pagelayer .lyscroll {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 201;
	overflow-x: hidden;
	overflow-y: auto;
}

.w-pagelayer .pagelayer .lybody {
	width: 800px;
	padding: 40px 0;
	margin: 0 auto;
}

.w-pagelayer .pagelayer .lybody .lycont {
	zoom: 1;
}

.w-pagelayer .pagelayer .lyclosed {
	display: none;
	position: fixed;
	_position: absolute;
	top: 20px;
	right: 35px;
	width: 32px;
	height: 30px;
	background: url(../images/login-24.png) no-repeat 0 -1290px;
	_background: url(../images/login.png) no-repeat 0 -1290px;
}

.w-pagelayer .pagelayer .lyclosed:hover {
	background-position: -114px -1290px;
}

.w-pagelayer .pagelayer .a-scale {
	display: block;
	*visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
}

.w-pagelayer .pagelayer .a-scale-do {
	display: block;
	*visibility: visible;
	opacity: 1;
}

.w-btn,.w-btn2,.w-btn3,.w-btn4,.w-btn5,.w-user .warn .icn,.w-song,.m-logbm .prv,.m-logbm .nxt,.chkbox .c,.validt .icn {
	background: url(../images/btn.png?009) no-repeat -999px -999px;
	_background-image: url(../images/btn-8.png?009);
}

.m-userlnks a {
	background: url(../images/btn.png?009) no-repeat -999px -999px\9;
	_background: none;
}

.w-icon {
	background: url(../images/icon.png?v=001) no-repeat;
}

.m-intro1 .i1 .img {
	background: url(../images/dashboard.jpg?v=002) no-repeat center top;
}

.m-intro1 .i2 .img {
	background: url(../images/quanzi.jpg?v=001) no-repeat center top;
}

.m-intro1 .i4 .img {
	background: url(../images/mobilelofter.jpg?v=001) no-repeat center top;
}

.m-intro1 .i5 .img {
	background: url(/home/space/deploy_loft/master/compressed/rsc/img/loginopen/201406/appstore/uapp.png?001) no-repeat center top;
}

.m-intro1 .i6 .img {
	background: url(/home/space/deploy_loft/master/compressed/rsc/img/loginopen/201406/appstore/art.png?001) no-repeat center top;
}

.m-bar-1 .bg {
	background: url(../images/shadow.png) no-repeat center top;
}

.w-dwdapp li:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
	overflow: hidden;
}

.w-dwdapp li {
	zoom: 1;
}

.w-btn {
	display: inline-block;
	border: 0;
	width: 300px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background-position: -1px -461px;
}

.w-btn::-moz-focus-inner {
	border: 0;
}

.w-btn:hover,.w-btn-0-hover {
	background-position: -1px -521px;
}

.w-btn span {
	font-size: 18px;
	color: #fff;
	letter-spacing: 3px;
}

.w-btn-1 {
	width: 130px;
	background-position: -491px -461px;
}

.w-btn-1:hover {
	background-position: -491px -520px;
}

.w-btn-1 span {
	letter-spacing: 0;
}

.w-btn2 {
	display: inline-block;
	width: 65px;
	height: 28px;
	padding: 0 0 0 34px;
	line-height: 26px;
	text-align: left;
	font-size: 15px;
	color: #fff;
	background-position: -1px -781px;
}

.w-btn2:hover {
	color: #fff;
	background-position: -1px -829px;
}

.w-btn2-1 {
	width: 54px;
	padding: 0 0 0 45px;
	background-position: -110px -781px;
}

.w-btn2-1:hover {
	background-position: -110px -829px;
}

.w-btn2-2 {
	width: 67px;
	padding: 0 0 0 32px;
	background-position: -219px -781px;
}

.w-btn2-2:hover {
	background-position: -219px -829px;
}

.w-btn3 {
	display: inline-block;
	width: 107px;
	height: 40px;
	border-radius: 2px;
	padding: 0 0 0 54px;
	text-align: left;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	background-position: -1px -601px;
}

.w-btn3:hover {
	color: #fff;
	background-position: -199px -601px;
}

.w-btn3-1 {
	background-position: -1px -651px;
}

.w-btn3-1:hover {
	background-position: -199px -651px;
}

.w-btn3-2 {
	background-position: -1px -701px;
}

.w-btn3-2:hover {
	background-position: -199px -701px;
}

.w-btn3-3 {
	width: 101px;
	padding: 0 0 0 60px;
	background-position: -310px -461px;
}

.w-btn3-3:hover {
	background-position: -310px -521px;
}

.w-btn3-4 {
	background-position: -213px -1191px;
}

.w-btn3-4:hover {
	background-position: -213px -1251px;
}

.w-btn4 {
	display: inline-block;
	width: 134px;
	height: 50px;
	padding: 0 0 0 66px;
	text-align: left;
	color: #fff;
	font-size: 18px;
	line-height: 50px;
	background-position: -1px -880px;
}

.w-btn4:hover {
	color: #fff;
	background-position: -1px -940px;
}

.w-btn4-1 {
	background-position: -211px -880px;
}

.w-btn4-1:hover {
	background-position: -211px -940px;
}

.w-btn4-2 {
	background-position: -421px -880px;
}

.w-btn4-2:hover {
	background-position: -421px -940px;
}

.w-btn4-3 {
	background-position: 0 -1190px;
}

.w-btn4-3:hover {
	background-position: 0 -1250px;
}

.w-btn5 {
	display: inline-block;
	width: 135px;
	height: 40px;
	text-indent: -1000px;
	overflow: hidden;
	background-position: -467px -587px;
}

.w-btn5-1 {
	background-position: -467px -647px;
}

.w-btn5-2 {
	background-position: -467px -707px;
}

.w-song {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 24px;
	height: 24px;
	background-position: -474px -824px;
}

.w-regsong .regtxt {
	float: left;
	width: 84px;
	margin-right: 8px;
	text-align: right;
}

.w-regsong .acttxt {
	position: relative;
	zoom: 1;
	float: right;
	width: 102px;
	height: 36px;
	padding: 10px 0;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 18px;
	text-align: left;
}

.w-regsong .acttxt .sep {
	float: left;
	width: 10px;
	height: 28px;
	margin-top: 4px;
	border-left: 1px solid #fff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.w-regsong .acttxt span {
	float: left;
	width: 56px;
}

.w-regsong .acttxt span b {
	float: left;
	font-weight: normal;
}

.w-regsong .acttxt .w-song {
	position: absolute;
	top: 15px;
	right: 8px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.w-regsong:hover .acttxt .w-song,.m-userlnks .crt .acttxt .w-song {
	opacity: 1;
	filter: alpha(opacity=100);
}

.w-icon {
	display: inline-block;
	width: 91px;
	height: 90px;
}

.w-icon-1 {
	background-position: -115px 0;
}

.w-icon-2 {
	background-position: -234px 0;
}

.w-icon-3 {
	background-position: -347px 0;
}

.w-icon-4 {
	background-position: -455px 0;
}

.w-icon-5 {
	background-position: -564px 0;
}

.w-icon-6 {
	background-position: -675px 0;
}

.w-icon-7 {
	background-position: -785px 0;
}

html {
	padding: 0;
	margin: 0;
	overflow-x: auto;
}

body {
	min-width: 960px;
}

.g-bd9 .g-hd9 {
	opacity: 0;
	top: -114px;
	opacity: 0;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}

.g-bdfull2 .w-load2 {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	margin-top: -8px;
}

.m-logbg img {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
}

.m-stwrap1,.g-ft1 {
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s 0.5s;
	-webkit-transition: opacity 1s 0.5s;
	-moz-transition: opacity 1s 0.5s;
	-o-transition: opacity 1s 0.5s;
}

.p-body6 {
	background: none;
}

.m-stwrap1 {
	position: absolute;
	z-index: 10;
	left: 0;
	top: 37%;
	margin: -150px auto 0;
	width: 100%;
}

.g-bdfull2,.m-logbg {
}

.m-region {
	margin: 0 auto;
	width: 584px;
}

.m-userlnks a {
	float: left;
	width: 194px;
	height: 56px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 4px;
	line-height: 56px;
	background-color: #111;
	background-color: rgba(17,17,17,0.5);
	color: #fff;
	color: rgba(255,255,255,0.5);
	border-right: 1px solid #111;
	border-right: 1px solid rgba(17,17,17,0.3);
}

.m-userlnks a {
	background-color: transparent\9;
	background-position: -456px 0\9;
	_background-color: #3b3b3b;
	color: #aaa\9;
	border-right: 1px solid #525252\9;
}

.m-userlnks .dwdapp {
	border: 0;
	letter-spacing: 0;
}

.m-userlnks a:hover {
	color: #fff;
}

.m-userlnks .crt,.m-userlnks .crt:hover {
	color: #444;
	background: #fff;
	border-color: #fff;
}

.m-userlnks .crt .acttxt {
	color: #777;
}

.m-userlnks .crt .acttxt .sep {
	border-color: #d7d7d7;
	opacity: 1;
	filter: alpha(opacity=100);
}

.m-forms {
	position: relative;
	zoom: 1;
	background: #fff;
	padding: 30px;
	color: #888;
}

.m-forms .cont {
}

.m-reg .contl,.m-login .contl {
	float: left;
	width: 302px;
}

.m-reg .contr,.m-login .contr {
	float: right;
	width: 162px;
}

.m-reg .others,.m-login .others {
	position: relative;
	zoom: 1;
}

.m-reg .sepln,.m-login .sepln {
	position: absolute;
	left: -30px;
	top: 0;
	display: block;
	height: 90px;
	width: 1px;
	background: #e7e7e7;
}

.m-reg .septxt,.m-login .septxt {
	position: absolute;
	left: -30px;
	top: 36px;
	margin: 0 0 0 -6px;
	display: block;
	width: 20px;
	height: 20px;
	background: #fff;
	color: #aaa;
}

.m-reg .msg,.m-login .msg {
	margin: 0 0 10px;
	padding: 6px 18px;
	background: #fdf8c4;
	line-height: 20px;
	color: #444;
}

.m-reg .chkbox,.m-login .chkbox {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding-left: 24px;
	margin-right: 16px;
	font-size: 14px;
}

.m-reg .chkbox .c,.m-login .chkbox .c {
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	background-position: -473px -783px;
}

.m-reg .msg .c,.m-login .msg .c {
	top: 2px;
}

.m-reg .msg img,.m-login .msg img {
	position: relative;
	top: 2px;
}

.m-reg .msg a:hover,.m-login .msg a:hover {
	color: #7594b3;
}

.m-reg .chkbox .j-ok,.m-login .chkbox .j-ok {
	background-position: -499px -783px;
}

.m-reg .chkbox input,.m-login .chkbox input {
	visibility: hidden;
}

.w-user .w0 {
	zoom: 1;
	margin: 0 0 -1px;
	*margin: 0 0 -4px;
	_margin: 0 0 -5px;
}

.w-user .w2 {
	margin: 12px 0 0;
}

.w-user .w3 {
	margin: 10px 0 0;
}

.w-user .w3 a,.w-user .w3 a:hover {
	color: #777;
}

.w-user .inpt,.w-user .txt {
	width: 266px;
	height: 22px;
	font-size: 14px;
	line-height: 22px;
}

.w-user .inpt {
	position: relative;
	zoom: 1;
	padding: 8px 16px;
	border: 1px solid #d7d7d7;
}

.w-user .inpt-1,.w-user .inpt-1 .txt {
	width: 348px;
}

.w-user .j-tfocus {
	z-index: 1;
}

.w-user .txt,.w-user label {
	position: absolute;
	left: 16px;
	top: 8px;
}

.w-user .txt {
	border: 0;
	outline: none;
	color: #444;
}

.w-user label {
	color: #999;
}

.w-user .txtlist {
	position: absolute;
	z-index: 10;
	left: -1px;
	top: 38px;
	padding: 1px 0;
	width: 298px;
	border: 1px solid #d7d7d7;
	background: #fff;
	font-size: 14px;
	line-height: 32px;
}

.w-user .txtlist p,.w-user .txtlist div {
	padding: 0 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.w-user .txtlist .j-crt {
	background: #e7e7e7;
}

.w-user .warn {
	margin: 10px 0 20px;
	line-height: 10px;
}

.w-user .warn .icn {
	display: inline-block;
	width: 21px;
	height: 21px;
	margin: 0 4px 0 0;
	background-position: -353px -783px;
        float:left;
}

.w-user .warn a {
	margin: 0 4px;
	color: #7594b3;
	text-decoration: underline;
}

.w-user .warn a:hover {
	color: #5a8dcd;
}

.w-user .warn-1 .icn {
	background-position: -353px -830px;
}

.w-user .validt {
	position: absolute;
	right: 0;
	top: 0;
	width: 124px;
	height: 38px;
	line-height: 38px;
}

.w-user .validt img {
	margin: 0 4px 0 0;
	vertical-align: 3px;
	*vertical-align: -1px;
}

.w-user .validt .icn {
	display: inline-block;
	width: 38px;
	height: 38px;
	border-left: 1px solid #d7d7d7;
	background-position: -563px -773px;
}

.w-user .validt:hover .icn {
	background-position: -613px -773px;
}

.w-user-1 .w4 .txt {
	width: 120px;
}

.w-user-2 .chkbox {
	float: left;
}

.w-user-2 .fgt {
	float: right;
}

.w-user-3 .w-btn3 {
	margin: 0 0 10px;
}

.m-dwdapp {
	padding: 0 40px;
}

.w-dwdapp .dwdlist {
	float: left;
}

.w-dwdapp .img {
	float: right;
}

.w-dwdapp li {
	padding: 0 0 20px;
}

.w-dwdapp .last {
	padding: 0;
}

.w-dwdapp li label,.w-dwdapp li a {
	float: left;
}

.w-dwdapp li label {
	width: 84px;
	line-height: 40px;
}

.w-user-4 .w0 {
	position: relative;
	zoom: 1;
	float: left;
	width: 382px;
}

.w-user-4 .w3 {
	float: left;
	margin: 0 0 0 10px;
}

.w-user-4 .warn-1 {
	margin: 10px 0 0;
}

.w-user-4 .chg {
	position: absolute;
	right: 0;
	top: 52px;
	cursor: pointer;
}

.g-ft1,.m-logbm {
	height: 38px;
	width: 100%;
}

.g-ft1 {
	z-index: 20;
}

.m-logbm {
	left: 0;
	margin: 0;
	line-height: 23px;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.6);
	*filter: alpha(opacity=80);
}

.m-logbm .logbm2 {
	position: absolute;
	right: 20px;
	top: 0;
	width: 290px;
}

.m-logbm .by {
	width: 230px;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.m-logbm .by span,.m-logbm .by b {
	float: none;
	width: auto;
}

.m-logbm .prv, .m-logbm .nxt {
	margin-top: 3px;
}

.m-logbm .prv {
	background-position: -406px -781px;
	_width: 24px;
}

.m-logbm .prv:hover {
	background-position: -406px -822px;
}

.m-logbm .nxt {
	background-position: -429px -781px;
}

.m-logbm .nxt:hover {
	background-position: -429px -822px;
}

.g-bd9,.g-bd9 .g-cnt,.g-ft {
	width: 100%;
}

.g-bd9 {
	position: relative;
	zoom: 1;
	z-index: 21;
	background: #fff;
}

.g-bd9 .g-cnt {
	border: 0;
}

.g-ft {
	margin: 0;
	padding: 30px 0;
	background: #f7f7f7;
}

.f-cb0 {
	clear: both;
	padding: 0;
	margin: 0;
	font-size: 0;
	line-height: 0;
	height: 0;
}

.m-layer {
	width: 600px;
	border-color: #f2f2f2;
	opacity: 0;
}

.m-layer .layert {
	position: relative;
	zoom: 1;
	padding: 24px 40px;
	border-bottom: 1px solid #e6e6e6;
	cursor: default;
}

.m-layer .layert h3 {
	font-size: 18px;
	color: #444;
}

.m-layer .layert .w-icn5-2 {
	position: absolute;
	right: 24px;
	top: 24px;
}

.m-layer .layerm {
	padding: 60px 78px;
}

.m-layerbg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #000;
	opacity: 0;
	filter: alpha(opacity=80);
	z-index: 99;
}

.m-layerbg,.m-layer {
	transition: 0.3s opacity linear;
	-webkit-transition: 0.3s opacity linear;
	-moz-transition: 0.3s opacity linear;
	-o-transition: 0.3s opacity linear;
}

.m-bar {
	text-align: center;
	line-height: 40px;
}

.m-bar .w-song {
	position: relative;
	top: 5px;
	*top: 1px;
}

.m-bar .txt {
	margin: 0 5px 0 10px;
	color: #777;
	font-size: 18px;
}

.m-bar a {
	margin: 0 10px 0 0;
}

.m-bar-1 {
	position: fixed;
	_position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 26px 0;
	height: 40px;
	white-space: nowrap;
	background: #fff;
	border-top: 1px solid #e6e6e6;
}

.m-bar-1 .bg {
	position: absolute;
	left: 0;
	top: -32px;
	width: 100%;
	height: 32px;
	_display: none;
}

.m-bar-2 .btns {
	padding: 16px 0 80px;
}

.w-icnlist {
	margin: 0 auto;
	width: 960px;
}

.w-icnlist li {
	float: left;
	width: 400px;
	padding: 0 40px 64px;
}

.w-icnlist h3 {
	margin: 25px 0 18px;
	font-size: 28px;
	font-weight: normal;
	line-height: 36px;
}

.w-icnlist p {
	font-size: 14px;
	line-height: 28px;
	text-align: left;
}

.m-intro1 {
	text-align: center;
}

.m-intro1 .i2,.m-intro1 .i4,.m-intro1 .i6 {
	background: #f7f7f7;
}

.m-intro1 h2 {
	padding: 72px 0 16px;
	font-size: 46px;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 56px;
}

.m-intro1 .sub {
	padding: 0 0 69px;
	font-size: 18px;
	line-height: 36px;
}

.m-intro1 .sub a {
	color: #7594b3;
}

.m-intro1 .sub a:hover {
	color: #5a8dcd;
}

.m-intro1 .img {
	display: block;
	width: 100%;
	margin: 0 0 77px;
}

.m-intro1 .i1 .img {
	height: 498px;
}

.m-intro1 .i2 .img {
	height: 630px;
}

.m-intro1 .i4 .img {
	height: 635px;
}

.m-intro1 .i5 .img {
	height: 308px;
	margin: 0;
}

.m-intro1 .i6 .img {
	height: 330px;
	margin: 0;
}

.m-intro1 .i7 h2 {
	padding-bottom: 40px;
}

.m-slider {
	position: relative;
	zoom: 1;
	width: 100%;
	height: 430px;
	overflow: hidden;
	margin: 0 0 80px;
}

.m-slider ul {
	position: absolute;
	left: 0;
	top: 0;
	width: 9999px;
	transition: 0.3s left linear;
	-webkit-transition: 0.3s left linear;
	-moz-transition: 0.3s left linear;
	-o-transition: 0.3s left linear;
}

.m-slider li {
	float: left;
	margin: 0 15px;
}

.m-slider img {
	display: block;
	cursor: pointer;
}

.m-spetip {
	padding: 10px 0;
	margin: 15px 0 0;
	background: #FDF8B4;
	text-align: center;
	color: #D05220;
	font-size: 14px;
}

.m-spetip a {
	color: #D05220;
	text-decoration: underline;
}

.m-dwdapp .dldlist a {
	background: url(../images/icons.png) -9999px -9999px no-repeat;
}

.js-newloginentry .w-regsong .acttxt {
	display: none;
}

.js-newloginentry .w-regsong .regtxt {
	float: none;
	margin-right: 0;
	text-align: center;
}

.w-nlentryinfo {
	display: none;
	width: 524px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 29px;
	color: #ff0000;
	font-size: 14px;
	text-align: center;
	background: #fdf8c4;
	letter-spacing: 1px;
}

.js-newloginentry .w-nlentryinfo {
	display: block;
}

.js-newloginentry .m-spetip {
	display: none;
}

.js-newloginentry .m-dwdapp {
	padding: 0;
}

.m-dwdapp .dldlist {
	display: none;
	zoom: 1;
	padding: 0 0 8px 10px;
}

.m-dwdapp .dldlist:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

.js-newloginentry .m-dwdapp .dldlist {
	display: block;
	margin-right: -100px;
}

.js-newloginentry .m-dwdapp .dldlist li {
	float: left;
	width: 120px;
	height: 150px;
	padding: 0;
	margin-right: 71px;
	overflow: hidden;
}

.js-newloginentry .m-dwdapp .dldlist img {
	display: block;
	width: 120px;
	height: 120px;
}

.js-newloginentry .m-dwdapp .dldlist a {
	display: block;
	float: none;
	width: 99px;
	height: 28px;
	margin: 0 auto;
	text-indent: -9999px;
	background-position: 0 0;
	cursor: default;
}

.js-newloginentry .m-dwdapp .dldlist .ipad a {
	background-position: 0 -59px;
}

.js-newloginentry .m-dwdapp .dldlist .andriod a {
	background-position: 0 -121px;
}

.js-newloginentry .m-dwdapp .w-nlentryinfo {
	margin-bottom: 23px;
}
/* logo */
/*
.m-stwrap1 .logo{width:380px;margin:0 auto 38px;}
.m-stwrap1 .logo span{display:block;}
.m-stwrap1 .logo .f1{height:108px;text-indent:-9999px;background:url(/rsc/img/loginopen/201406/btn.png) no-repeat -2px 0;*background:url(/rsc/img/loginopen/201406/btn.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://l.bst.126.net/rsc/img/loginopen/201406/btn.png',sizingMethod='crop');}
.m-stwrap1 .logo .f2{width:405px;color:#fff;font-size:20px;font-weight:normal;letter-spacing:26px;text-shadow:0 1px 1px rgba(0,0,0,0.2);}
.m-stwrap1 .logo .f3{display:inline;margin:0 0 0 35px;}
*/
.m-stwrap1 .logo{width:425px;margin:0 auto 30px;}
.m-stwrap1 .logo .f1{width:435px;height:185px;text-indent:-9999px;background:url(../images/btn.png?005) no-repeat 0 -995px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/rsc/img/loginopen/201406/logo24-v1.png',sizingMethod='crop');}
.m-stwrap1 .logo .f2{display:none;}

/* 控制样式 */
.f-trans{transition:all 0.3s linear;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;}
#login1{min-height:650px;max-height:900px;}

/* Call Back */
.help-block {
	float:right;
	margin-top:0px;
	color: red;
    font-size: 12px;
    text-align: left;
    margin-left: 5px;
}

/*Email自动填充*/
ul.autoul{ /* 下拉菜单 */
  	position: absolute;
    z-index: 10;
    left: -1px;
    top: 37px;
    padding: 1px 0;
    width: 298px;
    border: 1px solid #d7d7d7;
    background: #fff;
    font-size: 14px;
    line-height: 32px;
}
ul.autoul li.autoli{ /* 下拉菜单li */
  height:30px;
  display:block;
  list-style-type:none;
  text-align:left;
  cursor:pointer;
  font-size:14px;
  line-height:30px;
  padding-left:15px;
  padding-right:15px;
  overflow:hidden;
  /*当对象内文本溢出时显示省略标记*/
  text-overflow:ellipsis; 
}
.lihover{ /* 下拉菜单li高亮样式 */
  background-color:#eee;
}
span{ padding-right:2px;}/* li下文字 */
.showli{ display:block;}/* 经过过滤的li的样式 */
#user-phone_verify_code{
	width: 35%;
}
#btnSendCode{
	margin-top:3px;
	float: right;
}